<html>
<head>
<title>\m/ Andy's Metalbot \m/</title>
<link rel="stylesheet" href="/static/css/jqtree.css" />
<link rel="stylesheet" href="/static/css/metalbot.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script src="/static/js/tree.jquery.js"></script>
<script src="/static/js/jquery.jplayer.min.js"></script>
<script src="/static/js/metalbot.js"></script>
<script type="text/javascript">
    $(function() {
        $(".sortable").sortable({disabled: true});
        $(".sortable").disableSelection();
        populateArtists();
        createBindings();
        getQueue();
        getSongs();
        initializePlayer("{{ mpdurl }}");
    });
</script>
</head>
<body>
    <h2>\m/ Andy's MetalBot \m/</h2>
        <div class="evil sortable">    
            <div>
                <h3>Now Playing</h3>
                <div id="covercontainer" style="display:none">
                    <img class="cover" src="" />
                </div>
                <span id="currentsong"></span><br />
                <span id="currentalbum"></span>

                <div id="player"></div>
                <div id="jp_container_1" class="jp-audio-stream">
                    <div class="jp-type-single">
                        <div class="jp-gui jp-interface">
                            <div class="controlcontainer">
                                <ul class="jp-controls">
                                    <li><a href="javascript:;" class="jp-play"><img src="/static/images/1363440384_playback_play.png" /></a></li>
                                    <li><a href="javascript:;" class="jp-pause" style="display:none"><img src="/static/images/1363440377_playback_pause.png" /></a></li>
                                </ul>
                                <div class="jp-volume-bar">
                                    <div class="jp-volume-bar-value"></div>
                                </div>
                            </div>
                        </div>
                        <div class="jp-no-solution">
                            <span>Update Required</span>
                            To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3>Upcoming Tracks</h3>
                <ol id="upcoming">
                </ol>
            </div>     
            <div>
                <h3>Queue</h3>
                <ol id="queue">
                </ol>
            </div>   
        </div>
        <div class="evil sortable">
            <div>
                <h3>Albums</h3>
                <div class="albums"></div>
            </div>
            <div>
                <h3>Songs</h3>
                <div class="songs"></div>
            </div>            
            <div class="buttons">
                <input type="button" id="queuesong" value="Queue Song" style="display: none" />
                <input type="button" id="queuealbum" value="Queue Album" style="display: none" />
            </div>
        </div>
        <div style="clear: both;"></div>   
        <script>
            $(document).ready(function() {
            var images = ['dark-forest0.jpg', 'dark-forest1.jpg', 'dark-forest2.jpg', 'dark-forest3.jpg', 'dark-forest4.jpg'];
            $('body').css({'background-image': 'url(/static/images/' + images[Math.floor(Math.random() *      images.length)] + ')'});
            });
        </script>        
</body>
</html>
