<html>
<head>
<title>\m/ Andy's Metalbot \m/</title>
<style type="text/css">
body
{
    font-family: courier;
    background-color: #000000;
    color: #FFFFFF;
}

div.evil
{
    border: 1px solid red;
    padding-left: 10px;
}

.cover
{
    width: 100px;
    height: 100px;
}

.albums
{
    height: 700px;
    overflow: auto;
}

td { vertical-align: top; width: 33%; }
ul { list-style-type: none; }

</style>
<link rel="stylesheet" href="/static/css/jqtree.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/static/js/tree.jquery.js"></script>
<script type="text/javascript">
    function populateArtists()
    {
        $.get("/api/artists", "", function(data, status) {
            var artistTree = [];

            $.each(data, function() {
                var artist = { label: this["artist"], children: []};

                $.each(this["albums"], function() {
                    artist["children"].push({label: this["album"] });
                });

                artistTree.push(artist);
            });

            $(".albums").tree({
                data: artistTree,
                onCanSelectNode: function(node) {
                    if (node.children.length > 0)
                        return false;
                    return true;
                }
            });

        });
    }

    function createBindings()
    {
        $(".albums").bind("tree.select", function(event) {
            var node = event.node;
            artist = node.parent.name;
            album = node.name;
            $.get("/api/songs/" + artist + "/" + album, "", function(data, status) {
                var songlist = [];

                $.each(data, function() {
                    songlist.push({label: "[" + this["id"] + "] " + this["title"]});
                });
                $(".songs").tree({
                    data: songlist
                });
                $("#queuesong").css("display", "");
            });
        });

        $(".songs").bind ("tree.select", function(event) {
            var node = event.node;

            var regex = /\[(\d+)\]/;
            id = regex.exec(node.name);
            if (id[1])
                $("#queuesong").data("currentsong", id[1]);
        });
    }

    function getQueue()
    {
        $.get("/api/queue", "", function(data, status) {
            $("#queue").html("");
            $.each(data, function() {
                $("#queue").append("<li>[" + this["sid"] + "] <b>" + this["artist"] + "</b> - <i>" + this["title"] + "</i></li>");
            });
        });
    }

    $(function() {
        populateArtists();
        createBindings();

        $("#queuesong").click(function(e) {
            id = $(this).data("currentsong");
            if (id)
            {
                $.get("/api/queue/" + id);
            }
        });

        getQueue();
        setTimeout(3000, getQueue);
    });
</script>
</head>
<body>
<h2>\m/ Andy's MetalBot \m/</h2>
<table border=0 width="100%">
<tr>
    <td>
        <div class="evil">
        <h3>Now Playing</h3>
        {% if nowplaying.coverpath %}
        <img class="cover" src="{{nowplaying.coverpath}}" />
        <br >
        {% endif %}
        [{{nowplaying.sid}}] <b>{{nowplaying.artist}}</b> - <i>{{nowplaying.title}}</i><br />
        From the "{{nowplaying.album}}" album
        </div>
        <div class="evil">
        <h3>Upcoming Tracks</h3>
        <ol>
        {% if nextup.length == 0 %}
        No upcoming tracks.
        {% else %}
        {% for song in nextup %}
        <li>[{{song.sid}}] <b>{{song.artist}}</b> - <i>{{song.title}}</i></li>
        {% endfor %}
        </ol>
        {% endif %}
        </div>
        <div class="evil">
        <h3>Queue</h3>
        <ol id="queue">
        </ol>
        </div>
    </td>
    <td>
        <div class="albums">
        </div>
    </td>
    <td>
        <div class="songs">
        </div>
        <div class="buttons">
            <input type="button" id="queuesong" value="Queue Song" style="display: none" />
        </div>
    </td>
</tr>
</body>
